body {
  background-color: #c0c0c0;
  min-height: 100vh;
}

/* .card-lists {
  overflow-x: auto;
} */

.container-wrap {
  display: flex;
  flex-wrap: wrap;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 1em;
}

.containerButtonAdd {
  display: flex;
  flex-direction: column;
}

.titleChooseDelete {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
}


.buttonChooseDelete {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

.danger {
  background-color: red;
  border-radius: 10px;
  border: 1px red solid
}

.close {
  background-color: white;
  border-radius: 10px;
  border: 1px white solid;
  padding: 10px;
}


.bgModal {
  border-radius: 10px;
  background-color: #ff9eb8;
  padding: 30px 20px;
}

.bgModal p {
  text-align: center;
}

#delete-list {
  padding-left: 10px;
}

.placeHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.changebackground {
  background-color: #ccc;
}

.containerButtonDeleteAll {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* test de css pour placer les tags */
/* .testcontainer {
  display: flex;
  flex-direction: column;
} */

.tagItem {
  padding: 4px 8px;
}

